{% extends "@classy/page.html.twig" %}

{% block content %}
  <h1>{{ album.title }}</h1>
  <img src="{{ album.image }}" alt="{{ album.title }}">
  <p>Artist: {{ album.artist }}</p>
  <p><a href="{{ album.spotify_url }}">Listen on Spotify</a></p>
  <p>Songs:</p>
  <ul>
    {% for song in album.songs %}
      <li><a href="{{ path('song', {'id': song.id}) }}">{{ song.title }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
